.main-container {
    padding: 4vh 0 0 10vh;
}

.search-container {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 15vh;
    justify-content: space-around;
    margin-bottom: 10px;
}

:is(.search-container input[type=text], .count input[type=number], :is(.count, .item) button) {
    border-color: blueviolet;
    outline: none;
    height: 4vh;
    padding: 0 0 0 1vh;
    border-radius: 5px;
}

.food-container {
    display: flex;
    justify-content: space-between;
    width: 94%;
}

.left {
    width: 46%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.fruit {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #ced6ce;
    padding: 3vh;
    border-radius: 8px;
    border: 2px solid blueviolet;
    margin: 0 0 3vh 0;
    font-size: 2vh;
}

.fruit img {
    height: 10vh;
    width: 5vw;
}

.right {
    width: 47%;
}

.item {
    padding: 4vh 0 0 2vh;
    width: 19vw;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

:is(.count, .item) button {
    width: 2vw;
    text-align: start;
    background: blueviolet;
    color: white;
}