* {
    margin: 0;
    padding: 0;
}

.header {
    height: 10vh;
    background: #5a21ce;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 0 0 4vh;
    font-size: 4vh;
    font-weight: bolder;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}